@model  Entity.Dto.LoginDto
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Admin Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Admin Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.AdminUserName, "", new { @class = "text-danger" })*@
        <br />
        @Html.Label("Admin Mail Adresi")
        @Html.TextBoxFor(x => x.AdminMail, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.AdminUserName, "", new { @class = "text-danger" })*@
        <br />
        @Html.Label("Şifreyi Giriniz")
        @Html.PasswordFor(x => x.AdminPassword, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })*@
        <br />
        @Html.Label("Rolü Seçiniz")
        @Html.DropDownListFor(x => x.AdminRoleId, (List<SelectListItem>)ViewBag.valueAdminRole, new { @class = "form-control" })
        @*@Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })*@
        @*@Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })*@
        <br />
        @Html.Label("Durumu Seçiniz")
        @Html.DropDownListFor(x => x.AdminStatusId, (List<SelectListItem>)ViewBag.valueAdminStatus, new { @class = "form-control" })
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}


