@model  Entity.Concrete.Talent
@{
    ViewBag.Title = "AddTalent";
    Layout = "~/Views/Shared/_TalentLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Yetenek Bölümü Ekleme</title>
</head>
<body>
    @using (Html.BeginForm("AddTalent", "Talent", FormMethod.Post))
    {
    <form method="post" action="AddSkillArea">
        @Html.Label("Yetenek Adı")
        <br />
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        @Html.Label("Yetenek Detayı")
        <br />
        @Html.TextBoxFor(x => x.About, new { @class = "form-control" })
        <br />
        @Html.Label("Yetenek Bilgisi (100 üzerinden)")
        <br />
        @Html.TextBoxFor(x => x.Percent, new { @class = "form-control" })
        <br />
        @Html.Label("Yetenek Alanı")
        <br />
        @Html.DropDownListFor(x => x.SkillAreaId, (List<SelectListItem>)ViewBag.valueSkill, new { @class = "form-control" })

        <button class="btn btn-primary">Kaydet</button>
        <br />
    </form>
    }
    <!--bar-js-->
    <script src="~/AdminLTE-3.0.4/skills/js/bars.js"></script>
    <p>
    </p>
</body>
</html>