@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Entity.Concrete.Talent>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TalentLayout.cshtml";
}

<body>
    <!-- main -->
    <div class="main">
        <h1>Kişisel Yeteneklerim Sayfası</h1>
        <div class="main-info">
            <div class="main-row">
                <td>
                    <div style="text-align: center">
                        <a href="/Heading/Index/" class="btn btn-info"><button type="post" class="btn btn-outline-secondary" style="color: white"><i class="fas fa-pencil-alt"></i> Ana Sayfaya Git</button></a>
                        @*<a href="/Talent/AddTalent" class="btn btn-info"><button type="post" class="btn btn-outline-secondary" style="color: white"><i class="fas fa-pencil-alt"></i> Yeni Yetenek Ekle</button></a>*@
                        <a href="/Talent/TalentCard" class="btn btn-info"><button type="post" class="btn btn-outline-secondary" style="color: white"><i class="fas fa-pencil-alt"></i> Yetenekleri Güncelle</button></a>
                    </div>
                    <br />
                </td>
                @*<a href="/AdminCategory/Index" class="btn btn-primary">Ana Sayfaya Git</a>&nbsp;<a href="/SkillArea/Index" class="btn btn-primary">Yetenek Bölümlerine Git</a><br /><br />*@
                <!-- main-row-one -->
                @*<h3 class="title">Yetenekler</h3></td>*@


                <br />
                <div class="col-md-14 skills-right bar_group">
                    @foreach (var item in Model)
                    {
                        <div class='bar_group__bar thin' label=' @item.SkillArea.Area :&nbsp; @item.Name &nbsp;&nbsp; %@item.Percent' value='@item.Percent'><br /> @item.About  <br /></div>
                    }
                </div>
                <br /><br />
                <div style="color: beige; font-size: 40px;"> @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))</div>
                <!--bar-js-->
            </div>
        </div>
        <p>
        </p>
    </div>
</body>









